﻿@{
    ViewBag.Title = "level999 - Entrada";
}
@section pageCss{
    <link rel="stylesheet" href="@Url.Content("~/Content/pages/home/entrance.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/libs/angular-typed/angular-typed.css")">
}
@section pageScripts{
    <script src="@Url.Content("~/Content/js/app/services/enterprise-service.js")"></script>
    <script src="@Url.Content("~/Content/js/app/controllers/entrance-controller.js")"></script>
}

<div class="container-fluid h-100" ng-controller="entranceController" ng-init="onInit()">
    <div class="row">
        <div class="col p-3 animate-down text-center bg-light" ng-show="formShow">
            <h2>
                <div>
                    <img class="img-fluid" src="@Url.Content("~/Content/img/app/ludotask-logo.png")" style="width: 120px;">
                </div>
                Capítulo 1. Uma nova jornada!
            </h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 animate-down" ng-show="formShow">
            <div class="p-5">
                <div class="text-xxxl text-primary pb-5" typed type-speed="5" start-timeout="2000" endline-timeout="1500" remove-line="false" html-mode type-strings="model.chats"></div>
                <!--<div class="row mb-4">
                    <div class="col-12 text-center">
                        <a class="btn btn-block btn-raised btn-primary ink-reaction" href="@Url.Action("Entrance", "Enterprise")">Comece a sua jornada!</a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
