﻿@{
    ViewBag.Title = "LudoTask - Início";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section pageScripts{
    <script src="@Url.Content("~/Content/js/game/core.js")"></script>
    <script src="@Url.Content("~/Content/js/game/components.js")"></script>
    <script src="@Url.Content("~/Content/js/game/scenes/main.js")"></script>
}
<div ng-view class="h-100"></div>