﻿@{    
    ViewBag.Title = "level999 - Entrada";
}
@section pageCss{
    <link href="https://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/pages/home/login.css")">
}
@section pageScripts{
    <script src="@Url.Content("~/Content/js/app/controllers/login-controller.js")"></script>
    <script src="@Url.Content("~/Content/js/game/core.js")"></script>
    <script src="@Url.Content("~/Content/js/game/components.js")"></script>
    <script src="@Url.Content("~/Content/js/game/scenes/login.js")"></script>
}
<div class="row h-100 m-0" ng-controller="loginController" ng-init="onFormInit()">
    <div class="col-xs-12 col-md-4 h-100 p-5 bg-light animate-left" ng-show="formShow">
        <div class="d-flex flex-column justify-content-center h-100 p-5">
            <h1 class="display-4 text-center">
                <img src="@Url.Content("~/Content/img/app/ludotask-logo.png")">
            </h1>
            <p class="lead">Essa plataforma irá te proporcionar uma <strong>nova experiência</strong> para se manter <strong>motivado</strong> na conclusão de suas tarefas, <strong>otimização</strong> do seu tempo e ainda se <strong>divertindo</strong>.</p>
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <a class="btn btn-block btn-raised btn-primary ink-reaction" href="@Url.Action("Entrance", "Enterprise")">Comece a sua jornada!</a>
                    <!--<p class="text-light">
                        ou
                    </p>
                    <p>
                        <a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-facebook pull-left"></i>Acesse com Facebook</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-google pull-left"></i>Acesse com Google</a>
                    </p>-->
                </div><!--end .col -->
            </div><!--end .col -->
            <form class="form" method="post" ng-submit="onFormSubmit('@Url.Action("Login", "Home")')">
                <div class="form-group floating-label">
                    <input type="text" class="form-control" id="user" name="user" ng-model="formData.user">
                    <label for="user">Usuário</label>
                </div>
                <div class="form-group floating-label">
                    <input type="password" class="form-control" id="senha" name="senha" ng-model="formData.pass">
                    <label for="senha">Senha</label>
                    <!--<p class="help-block"><a href="#">Esqueceu?</a></p>-->
                </div>
                <div class="form-row">
                    <div class="form-group col-10">
                    <!--    <div class="text-left">
                            <div class="checkbox checkbox-inline checkbox-styled">
                                <label>
                                    <input type="checkbox"> <span>Lembrar</span>
                                </label>
                            </div>
                        </div>-->
                    </div>
                    <div class="form-group col-2">
                        <div class="text-right">
                            <button class="btn btn-default btn-raised ink-reaction" type="submit">Acessar</button>
                        </div><!--end .col -->
                    </div><!--end .col -->
                </div><!--end .row -->
            </form>
        </div>

    </div>
    <div id="level999-game" class="col h-100 p-0 animate-right" ng-show="gameShow">
    </div>
</div>
