//
// THEME 1 VARIABLES
// --------------------------------------------------

// GLOBAL VALUES
// --------------------------------------------------

// Brand colors
// -------------------------

@brand-primary:				    #FFC107;
@brand-accent:				    #536dfe;

@headerbar-color:               #FFFFFF;
@headerbar-bg:                  #FFC107;                  


// Ajustes
// -------------------------------
#base {   
    padding-left: 0px;  
}

.full-content .section-action {
    left: 0px;
}