﻿<div>
    <section class="has-actions">
        <!-- BEGIN INBOX -->
        <div class="section-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-head">
                            <header>Meus itens</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                            </div>
                        </div>
                        <!--end .card-head -->
                        <div class="card-body no-padding height-9 scroll" style="height: auto;">
                            <ul class="list" data-sortable="true">
                                <li class="tile">
                                    <div class="checkbox checkbox-styled tile-text">
                                        <label>
                                            <input type="checkbox" checked="">
                                            <span>Call clients for follow-up</span>
                                        </label>
                                    </div>
                                    <a class="btn btn-flat ink-reaction btn-default">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                                <li class="tile">
                                    <div class="checkbox checkbox-styled tile-text">
                                        <label>
                                            <input type="checkbox">
                                            <span>
                                                Schedule meeting
                                                <small>opportunity for new customers</small>
                                            </span>
                                        </label>
                                    </div>
                                    <a class="btn btn-flat ink-reaction btn-default">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                                <li class="tile">
                                    <div class="checkbox checkbox-styled tile-text">
                                        <label>
                                            <input type="checkbox">
                                            <span>
                                                Upload files to server
                                                <small>The files must be shared with all members of the board</small>
                                            </span>
                                        </label>
                                    </div>
                                    <a class="btn btn-flat ink-reaction btn-default">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                                <li class="tile">
                                    <div class="checkbox checkbox-styled tile-text">
                                        <label>
                                            <input type="checkbox">
                                            <span>Forward important tasks</span>
                                        </label>
                                    </div>
                                    <a class="btn btn-flat ink-reaction btn-default">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                                <li class="tile">
                                    <div class="checkbox checkbox-styled tile-text">
                                        <label>
                                            <input type="checkbox">
                                            <span>Forward important tasks</span>
                                        </label>
                                    </div>
                                    <a class="btn btn-flat ink-reaction btn-default">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                                <li class="tile">
                                    <div class="checkbox checkbox-styled tile-text">
                                        <label>
                                            <input type="checkbox">
                                            <span>Forward important tasks</span>
                                        </label>
                                    </div>
                                    <a class="btn btn-flat ink-reaction btn-default">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end .card-body -->
                    </div>
                    <!--end .card -->
                </div>
                <!--end .col -->
            </div>
            <!--end .row -->
        </div>
        <!--end .section-body -->
        <!-- END INBOX -->       
    </section>
</div>