﻿body {
    font-family: 'Barlow', sans-serif;
    font-size: 0.75rem;
    background-color: #FFFFFF;
    color: #4E4E4F;
}

#base {
    padding-left: 0px;
}

.bg-light {
    background-color: #F2F9F7 !important;
}

/* typography */

.text-primary {
    color: #90C74A !important;
}

.text-normal {
    text-transform: inherit;
}

/* forms inputs */
.form-group .form-control:focus ~ label {
    color: #90C74A;
}

.form-group .form-control ~ label:after, .form-group .form-control ~ .form-control-line:after {
    background-color: #90C74A;
}

/* buttons */
.btn-primary {
    background-color: #90C74A;
    border-color: #90C74A;
}

    .btn-primary:hover {
        background-color: #83B544;
        border-color: #83B544;
    }

/* typed */
.typed-line {
    font-weight: 300;
}

.typed-input input {
    font-weight: 300;
    font-size: 35px;
    height: 50px;
}
.typed-input input {
    font-size: 35px;
    height: 50px;
}
.typed-input .btn {
    font-size: 22px;
}

.typed-select .btn {
    font-size: 22px;
    text-transform: inherit;
}

/*#region animate.css*/
.animate-fade.ng-hide-remove {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.animate-fade.ng-hide-add {
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    -ms-animation: fadeOut 0.5s;
    -o-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

.animate-left.ng-hide-remove {
    -webkit-animation: slideInLeft 0.5s;
    -moz-animation: slideInLeft 0.5s;
    -ms-animation: slideInLeft 0.5s;
    -o-animation: slideInLeft 0.5s;
    animation: slideInLeft 0.5s;
}

.animate-left.ng-hide-add {
    -webkit-animation: slideOutLeft 0.5s;
    -moz-animation: slideOutLeft 0.5s;
    -ms-animation: slideOutLeft 0.5s;
    -o-animation: slideOutLeft 0.5s;
    animation: slideOutLeft 0.5s;
}

.animate-right.ng-hide-remove {
    -webkit-animation: slideInRight 0.5s;
    -moz-animation: slideInRight 0.5s;
    -ms-animation: slideInRight 0.5s;
    -o-animation: slideInRight 0.5s;
    animation: slideInRight 0.5s;
}

.animate-right.ng-hide-add {
    -webkit-animation: slideOutRight 0.5s;
    -moz-animation: slideOutRight 0.5s;
    -ms-animation: slideOutRight 0.5s;
    -o-animation: slideOutRight 0.5s;
    animation: slideOutRight 0.5s;
}

.animate-up.ng-hide-remove {
    -webkit-animation: slideInUp 0.5s;
    -moz-animation: slideInUp 0.5s;
    -ms-animation: slideInUp 0.5s;
    -o-animation: slideInUp 0.5s;
    animation: slideInUp 0.5s;
}

.animate-up.ng-hide-add {
    -webkit-animation: slideOutDown 0.5s;
    -moz-animation: slideOutDown 0.5s;
    -ms-animation: slideOutDown 0.5s;
    -o-animation: slideOutDown 0.5s;
    animation: slideOutDown 0.5s;
}

.animate-down.ng-hide-remove {
    -webkit-animation: slideInDown 0.5s;
    -moz-animation: slideInDown 0.5s;
    -ms-animation: slideInDown 0.5s;
    -o-animation: slideInDown 0.5s;
    animation: slideInDown 0.5s;
}

.animate-down.ng-hide-add {
    -webkit-animation: slideOutUp 0.5s;
    -moz-animation: slideOutUp 0.5s;
    -ms-animation: slideOutUp 0.5s;
    -o-animation: slideOutUp 0.5s;
    animation: slideOutUp 0.5s;
}

/*#endregion animate.css*/

/*#region Angular + bootstrap 4 fixes*/
.modal {
    display: block;
}

    .modal .modal-header h1, .modal .modal-header h2, .modal .modal-header h3, .modal .modal-header h4, .modal .modal-header h5, .modal .modal-header h6 {
        font-weight: 400;
    }

.modal-backdrop {
    -ms-opacity: 0.3;
    opacity: 0.3;
}

/*#endregion Angular + bootstrap 4 fixes*/
