﻿<!DOCTYPE html>
<html lang="en" ng-app="lvl999App">
<head>
    <title>@ViewBag.Title</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <base href="/" />

    <!-- BEGIN STYLESHEETS -->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700,800' rel='stylesheet' type='text/css'/>-->
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,700" rel="stylesheet">
    @Styles.Render("~/Content/css/defaults")
    @Styles.Render("~/Content/css/fonts")
    <!-- Additional CSS includes -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="@Url.Content("~/Content/js/libs/utils/html5shiv.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/libs/utils/respond.min.js")"></script>
    <![endif]-->
    @RenderSection("pageCss", false)
</head>

<body class="menubar-hoverable header-fixed">
    @RenderBody()
    <!-- BEGIN JAVASCRIPT -->
    <script src="@Url.Content("~/Content/js/libs/jquery/jquery-1.11.2.min.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/jquery/jquery-migrate-1.2.1.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.8.2/umd/popper.js"></script>
    <script src="@Url.Content("~/Content/js/libs/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/nanoscroller/jquery.nanoscroller.min.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/phaser/phaser.min.js")"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" asp-fallback-src="@Url.Content("~/Content/js/libs/angular/angular.min.js")" asp-fallback-test="window.angular"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    @Scripts.Render("~/Content/js/material")
    @RenderSection("pageModules", false)
    <script src="@Url.Content("~/Content/js/app/module.js")"></script>
    @RenderSection("pageScripts", false)
</body>
</html>
