﻿<div>
    <div class="modal animate-down ng-hide" role="dialog" ng-show='toggleModal(show)' >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nova Tarefa</h4>
                    <button type="button" class="btn btn-icon-toggle btn-close ink-reaction" data-dismiss="modal" aria-hidden="true" ng-click="onFormClose()"><i class="md md-close"></i></button>
                </div>
                <div class="modal-body">
                    <form class="form" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">

                                    <div class="form-group floating-label">
                                        <input type="text" name="title" id="task-title" class="form-control" ng-model="model.title" autocomplete="off">
                                        <label for="task-title" class="control-label">Título</label>
                                    </div>
                                    <div class="form-group floating-label">
                                        <textarea name="description" id="task-description" class="form-control" rows="3" ng-model="model.description" autocomplete="off"></textarea>
                                        <label for="task-description" class="control-label">Descrição</label>
                                    </div>
                                    <!--
                                    <div class="form-group floating-label">
                                        <input type="text" name="urgency" id="task-urgency" class="form-control" ng-model="data.urgency">
                                        <label for="task-title" class="control-label">Urgência</label>
                                    </div>
                                    <div class="form-group floating-label">
                                        <input type="text" name="importance" id="task-importance" class="form-control" ng-model="data.importance">
                                        <label for="task-title" class="control-label">Importância</label>
                                    </div>

                                    // form para repetição
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="task-description" class="control-label">Repetir</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" value="SUN" ng-model="data.sun"><span>Dom</span>
                                            </label>
                                            <label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" value="MON" ng-model="data.mon"><span>Seg</span>
                                            </label>
                                            <label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" value="TUE" ng-model="data.tue"><span>Ter</span>
                                            </label>
                                            <label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" value="WED" ng-model="data.wed"><span>Qua</span>
                                            </label>
                                            <label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" value="THR" ng-model="data.thr"><span>Qui</span>
                                            </label>
                                            <label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" value="FRI" ng-model="data.fri"><span>Sex</span>
                                            </label>
                                            <label class="checkbox-inline checkbox-styled">
                                                <input type="checkbox" value="SAT" ng-model="data.sat"><span>Sab</span>
                                            </label>
                                        </div>
                                    </div>
                                    -->

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-raised ink-reaction" ng-click="onFormSubmit()">Salvar</button>
                            <button type="button" class="btn btn-default btn-raised ink-reaction" ng-click="onFormClose()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal-backdrop" ng-show='show'></div>
</div>
