﻿<header id="header">
    <div class="headerbar">
        <div class="headerbar-left">            
            <ul class="header-nav header-nav-options">
                <li style="padding-top: 8px; padding-bottom: 8px">
                    <img src="../../Content/img/app/ludotask-logo.png" style="width: 74px">
                </li>
                <li>
                    <a class="btn btn-dark" href="#offcanvas-profile" data-toggle="offcanvas" data-backdrop="false">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="header-nav-brand">
                    <div class="pl-3 brand-holder">
                        <a href="../../html/dashboards/dashboard.html">
                            <span class="text-lg">Olá <strong>{{profile.Sysa001Name}}!</strong></span>
                        </a>
                    </div>
                </li>
            </ul>
            <!--end .header-nav-profile -->
        </div>
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
                <li>
                    <!-- Search form -->
                    <form class="navbar-search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="headerSearch" placeholder="Procurar por ...">
                        </div>
                        <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="javascript:void(0);" class="btn btn-icon-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell"></i><sup class="badge style-danger">4</sup>
                    </a>
                    <ul class="dropdown-menu animation-expand">
                        <li class="dropdown-header">Today's messages</li>
                        <li>
                            <a class="alert alert-callout alert-warning" href="javascript:void(0);">
                                <strong>Alex Anistor</strong><br>
                                <small>Testing functionality...</small>
                            </a>
                        </li>
                        <li>
                            <a class="alert alert-callout alert-info" href="javascript:void(0);">
                                <strong>Alicia Adell</strong><br>
                                <small>Reviewing last changes...</small>
                            </a>
                        </li>
                        <li class="dropdown-header">Options</li>
                        <li><a href="../../html/pages/login.html">View all messages <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
                        <li><a href="../../html/pages/login.html">Mark as read <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
                    </ul>
                    <!--end .dropdown-menu -->
                </li>
                <!--end .dropdown -->
                <li class="dropdown hidden-xs">
                    <a href="javascript:void(0);" class="btn btn-icon-toggle" data-toggle="dropdown">
                        <i class="fa fa-area-chart"></i>
                    </a>
                    <ul class="dropdown-menu animation-expand">
                        <li class="dropdown-header">Server load</li>
                        <li class="dropdown-progress">
                            <a href="javascript:void(0);">
                                <div class="dropdown-label">
                                    <span class="text-light">Server load <strong>Today</strong></span>
                                    <strong class="pull-right">93%</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 93%"></div>
                                </div>
                            </a>
                        </li>
                        <!--end .dropdown-progress -->
                        <li class="dropdown-progress">
                            <a href="javascript:void(0);">
                                <div class="dropdown-label">
                                    <span class="text-light">Server load <strong>Yesterday</strong></span>
                                    <strong class="pull-right">30%</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                </div>
                            </a>
                        </li>
                        <!--end .dropdown-progress -->
                        <li class="dropdown-progress">
                            <a href="javascript:void(0);">
                                <div class="dropdown-label">
                                    <span class="text-light">Server load <strong>Lastweek</strong></span>
                                    <strong class="pull-right">74%</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" style="width: 74%"></div>
                                </div>
                            </a>
                        </li>
                        <!--end .dropdown-progress -->
                    </ul>
                    <!--end .dropdown-menu -->
                </li>
                <!--end .dropdown -->
            </ul>
            <!--end .header-nav-options -->
            <!--end .header-nav-toggle -->
        </div>
    </div>
</header>