﻿<div id="base">
    <div class="offcanvas">
        <!-- BEGIN OFFCANVAS SEARCH -->
        <div id="offcanvas-profile" class="offcanvas-pane width-10">
            <div class="offcanvas-head">
                <header class="text-primary">TULIO MARKS <small class="text-default">Guerreiro</small></header>
                <div class="offcanvas-tools">
                    <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                        <i class="md md-close"></i>
                    </a>
                </div>
            </div>

            <div class="offcanvas-body no-padding">
                <ul class="list ">
                    <li class="tile divider-full-bleed">
                        <div class="tile-content">
                            <div class="tile-text">
                                <strong>A</strong>
                            </div>
                        </div>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Alex Nelson
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Ann Laurens
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile divider-full-bleed">
                        <div class="tile-content">
                            <div class="tile-text">
                                <strong>J</strong>
                            </div>
                        </div>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Jessica Cruise
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Jim Peters
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile divider-full-bleed">
                        <div class="tile-content">
                            <div class="tile-text">
                                <strong>M</strong>
                            </div>
                        </div>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Mabel Logan
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Mary Peterson
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Mike Alba
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile divider-full-bleed">
                        <div class="tile-content">
                            <div class="tile-text">
                                <strong>N</strong>
                            </div>
                        </div>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Nathan Peterson
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile divider-full-bleed">
                        <div class="tile-content">
                            <div class="tile-text">
                                <strong>P</strong>
                            </div>
                        </div>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Philip Ericsson
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                    <li class="tile divider-full-bleed">
                        <div class="tile-content">
                            <div class="tile-text">
                                <strong>S</strong>
                            </div>
                        </div>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                            <div class="tile-icon">
                            </div>
                            <div class="tile-text">
                                Samuel Parsons
                                <small>123-123-3210</small>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--end .offcanvas-body -->
        </div>
        <!--end .offcanvas-pane -->
        <!-- END OFFCANVAS SEARCH -->
        <!-- BEGIN OFFCANVAS CHAT -->
        <div id="offcanvas-chat" class="offcanvas-pane style-default-light width-12">
            <div class="offcanvas-head style-default-bright">
                <header class="text-primary">Chat with Ann Laurens</header>
                <div class="offcanvas-tools">
                    <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                        <i class="md md-close"></i>
                    </a>
                    <a class="btn btn-icon-toggle btn-default-light pull-right active" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
                        <i class="md md-arrow-back"></i>
                    </a>
                </div>
                <form class="form">
                    <div class="form-group floating-label">
                        <textarea name="sidebarChatMessage" id="sidebarChatMessage" class="form-control autosize" rows="1"></textarea>
                        <label for="sidebarChatMessage">Leave a message</label>
                    </div>
                </form>
            </div>
            <div class="offcanvas-body">
                <ul class="list-chats">
                    <li>
                        <div class="chat">
                            <div class="chat-avatar">
                            </div>
                            <div class="chat-body">
                                Yes, it is indeed very beautiful.
                                <small>10:03 pm</small>
                            </div>
                        </div>
                        <!--end .chat -->
                    </li>
                    <li class="chat-left">
                        <div class="chat">
                            <div class="chat-avatar">
                            </div>
                            <div class="chat-body">
                                Did you see the changes?
                                <small>10:02 pm</small>
                            </div>
                        </div>
                        <!--end .chat -->
                    </li>
                    <li>
                        <div class="chat">
                            <div class="chat-avatar">
                            </div>
                            <div class="chat-body">
                                I just arrived at work, it was quite busy.
                                <small>06:44pm</small>
                            </div>
                            <div class="chat-body">
                                I will take look in a minute.
                                <small>06:45pm</small>
                            </div>
                        </div>
                        <!--end .chat -->
                    </li>
                    <li class="chat-left">
                        <div class="chat">
                            <div class="chat-avatar">
                            </div>
                            <div class="chat-body">
                                The colors are much better now.
                            </div>
                            <div class="chat-body">
                                The colors are brighter than before.
                                I have already sent an example.
                                This will make it look sharper.
                                <small>Mon</small>
                            </div>
                        </div>
                        <!--end .chat -->
                    </li>
                    <li>
                        <div class="chat">
                            <div class="chat-avatar">
                            </div>
                            <div class="chat-body">
                                Are the colors of the logo already adapted?
                                <small>Last week</small>
                            </div>
                        </div>
                        <!--end .chat -->
                    </li>
                </ul>
            </div>
            <!--end .offcanvas-body -->
        </div>
        <!--end .offcanvas-pane -->
        <!-- END OFFCANVAS CHAT -->

    </div>
    <div id="content">
        <div class="row h-100 m-0" ng-controller="homeController" ng-init="onInit()" ng-keypress="onKeyPress($event)" tabindex="-1">
            <div class="bg-light col-xs-12 col-md-4 h-100 p-4 animate-left card" ng-show="taskBarShow">
                <div class="d-flex flex-column h-100">
                    <div class="card-head" ng-if="model.tasks.length !== 0">
                        <header class="pl-0 pt-0">Tarefas</header>
                        <div class="tools pr-0">
                            <a class="btn btn-primary btn-close ink-reaction text-light" ng-click="onClickAddTask()"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="row" ng-repeat="task in model.tasks">
                            <div class="col">
                                <div class="card mb-2" ng-class="{'style-success': task.Tska001Datefinished !== null }">
                                    <div class="row">
                                        <div class="col-1 align-self-center">
                                            <a class="btn btn-icon-toggle ink-reaction p-2" ng-click="onClickDoneTask(task)">
                                                <i ng-class="{'md md-check-box': task.Tska001Datefinished !== null, 'md md-check-box-outline-blank' : task.Tska001Datefinished === null }" style="font-size: 1.7rem;"></i>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <div class="card-head card-head-xs ">
                                                <div class="tools pr-0">
                                                    <div class="btn-group">
                                                        <!--<a class="btn btn-icon-toggle ink-reaction" ng-click="onClickDoneTask(task)"><i class="md md-done"></i></a>-->
                                                        <!--<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>-->
                                                        <a class="btn btn-icon-toggle ink-reaction" ng-click="onClickRemoveTask($event, task)"><i class="md md-delete"></i></a>
                                                    </div>
                                                </div>
                                                <header class="p-2">{{task.Tska001Title}}</header>
                                            </div>
                                            <div class="card-body pr-4 p-2">
                                                {{task.Tska001Description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-5" ng-if="model.tasks.length === 0">
                            <div class="col">
                                <h1 class="display-4 text-center">
                                    <img src="/Content/img/app/ludotask-logo.png">
                                </h1>
                                <p class="lead">
                                    <strong>Wow!</strong> Percebemos que você não tem <strong>nenhuma tarefa</strong> em aberto, que tal começarmos uma nova agora?
                                </p>
                                <div class="row mb-4">
                                    <div class="col-12 text-center">
                                        <a class="btn btn-block btn-raised btn-primary ink-reaction" ng-click="onClickAddTask()">Nova Tarefa!</a>
                                    </div><!--end .col -->
                                </div><!--end .col -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="level999-game" class="col h-100 p-0" ng-show="gameShow"></div>
            <lvl999-tasks-form show="taskFormShow" callback="taskFormCallback" text="model.newTaskText"></lvl999-tasks-form>
        </div>
    </div>
</div>
