﻿<div class="h-100 has-actions ng-enter animate-right" ng-show="matrixShow" ng-init="onInit()">
    <div class="d-flex flex-row align-content-stretch h-50 pt-3 pr-3 pl-3">
        <div class="card w-50 mr-3 mb-0">
            <div class="card-head">
                <header>Crises<small> - Faça Agora!!!</small></header>
            </div>
            <div class="card-body">
                <div class="row">
                    <!--end .col -->
                    <div class="col-xs-4" ng-repeat="task in model.tasks" ng-if="task.Tska001Urgency > 5 && task.Tska001Importance > 5">
                        <div class="card card-bordered style-danger">
                            <div class="card-head card-head-xs ">
                                <div class="tools">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown"><i class="md md-settings"></i></a>
                                            <ul class="dropdown-menu animation-dock pull-right menu-card-styling" role="menu" style="text-align: left;">
                                                <li><a href="javascript:void(0);" data-style="style-default-dark"><i class="md md-create text-default-dark"></i> Alterar</a></li>
                                                <li><a href="javascript:void(0);" data-style="style-default-dark"><i class="md md-delete text-default-dark"></i> Excluir</a></li>
                                            </ul>
                                        </div>
                                        <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                        <a class="btn btn-icon-toggle btn-close"><i class="md md-done"></i></a>
                                    </div>
                                </div>
                            </div><!--end .card-head -->
                            <div class="card-body">
                                <p>{{task.Tska001Title}}</p>
                            </div><!--end .card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-50 mb-0">
            <div class="card-head">
                <header>Metas e Planejamento<small> - Decida quando fazer</small></header>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="d-flex flex-row align-content-stretch h-50 pt-3 pr-3 pl-3">
        <div class="card w-50 mr-3">
            <div class="card-head">
                <header>Interrupções<small> - Delegue para outra pessoa</small></header>
            </div>
            <div class="card-body">
            </div>
        </div>
        <div class="card w-50">
            <div class="card-head">
                <header>Distrações<small> - Elimine</small></header>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <!-- BEGIN FORM MODAL MARKUP -->
    <div class="modal fade" id="formTask" role="dialog" aria-labelledby="formTaskLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="formTaskLabel">Adicionar Tarefa</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form" role="form">
                                <div class="form-group floating-label">
                                    <input type="text" name="title" id="task-title" class="form-control" ng-model="taskForm.data.title">
                                    <label for="task-title" class="control-label">Título</label>
                                </div>
                                <div class="form-group floating-label">
                                    <textarea name="description" id="task-description" class="form-control" rows="3" ng-model="taskForm.data.description"></textarea>
                                    <label for="task-description" class="control-label">Descrição</label>
                                </div>
                                <div class="form-group floating-label">
                                    <input type="text" name="urgency" id="task-urgency" class="form-control" ng-model="taskForm.data.urgency">
                                    <label for="task-title" class="control-label">Urgência</label>
                                </div>
                                <div class="form-group floating-label">
                                    <input type="text" name="importance" id="task-importance" class="form-control" ng-model="taskForm.data.importance">
                                    <label for="task-title" class="control-label">Importância</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="task-description" class="control-label">Repetir</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="SUN" ng-model="taskForm.data.sun"><span>Dom</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="MON" ng-model="taskForm.data.mon"><span>Seg</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="TUE" ng-model="taskForm.data.tue"><span>Ter</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="WED" ng-model="taskForm.data.wed"><span>Qua</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="THR" ng-model="taskForm.data.thr"><span>Qui</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="FRI" ng-model="taskForm.data.fri"><span>Sex</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="SAT" ng-model="taskForm.data.sat"><span>Sab</span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="taskForm.onFormSubmit()">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- END FORM MODAL MARKUP -->
</div>