﻿.section-account {
    padding: 0px;
}

.section-account h1{
    font-family: 'Fondamento', cursive;
    font-size: 48px;
}

.overlay-background {
    background-color: rgba(255,255,255,0.60), background-blend-mode: overlay;
    background-image: url(/Content/img/overlay-login.png);
}
